body{
font-family:Arial;
background:#f5f5f5;
}

form{
width:320px;
margin:auto;
margin-top:80px;
background:white;
padding:30px;
border-radius:8px;
box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

input,select{
width:100%;
padding:10px;
margin-top:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
margin-top:15px;
background:#28a745;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1e7e34;
}


/* Signup Text */
.signup-text {
  margin-top: 18px;
  font-size: 14px;
  color: #000000; /* black text */
}

.signup-text a {
  color: #007bff; /* bright blue */
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

.signup-text a:hover {
  color: #0056b3; /* darker blue on hover */
  text-decoration: underline;
}
